@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background:#22092e; 
  
}
::-webkit-scrollbar-track {
    background: #480e63; 
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 100px;
    background: #480e63;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7a0bad;
    height: 350px;
    border-radius: 5px;
  }