@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  color: #ffffffab;
}
body {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
::-webkit-scrollbar-track {
    background: #480e63; 
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 100px;
    background: #480e63;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7a0bad;
    height: 350px;
    border-radius: 5px;
  }